<%- include('partials/header.ejs') %>

<div class="mt-28 ml-44">
    <p class="text-2xl font-medium text-red-600">Gerenciamento dos clientes</p>
</div>
    <div class="w-full flex justify-center flex-col items-center mb-16">
        <table class="table-auto w-9/12 my-8 bg-gray-500 shadow-md rounded-lg marker:">
            <thead class="bg-gray-400">
                <tr>
                    <th class="px-4 py-2 font-medium border-gray-300">Email</th>
                    <th class="px-4 py-2 font-medium border-gray-300">Nome</th>
                    <th class="px-4 py-2 font-medium border-gray-300">CPF</th>
                    <th class="px-4 py-2 font-medium border-gray-300">Celular</th>
                    <th class="px-4 py-2 font-medium border-gray-300">Ação</th>
                </tr>
            </thead>
            <tbody>
                <% users.forEach(user => { %>
                    <tr class="text-center even:bg-gray-100 odd:bg-white">
                        <td class="px-4 py-2 border border-gray-300"><%= user.email %></td>
                        <td class="px-4 py-2 border border-gray-300"><%= user.nome %></td>
                        <td class="px-4 py-2 border border-gray-300"><%= user.cpf ?? "Não informado" %></td>
                        <td class="px-4 py-2 border border-gray-300"><%= user.celular ?? "Não informado" %></td>
                        <td class="px-4 py-2 border border-gray-300">
                            <a href="/deleteUser/<%= user.email %>" class="text-red-600 hover:text-red-700">Deletar</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

</div>

<%- include('partials/footer.ejs') %>
