<%- include('partials/header.ejs') %>

<div class="container mx-auto my-20 flex flex-col justify-center items-center">
    <div class="w-8/12">
        <div class="flex justify-between border-b-black border-b-2 pb-4 items-center">
            <h1 class="text-center text-2xl font-bold"><%= pergunta.titulo %></h1>
            <span> - por:  <b><%= pergunta.usuario.nome %></b></span>
        </div>
        <p class="py-4 border-b-black border-b-2"><%= pergunta.pergunta %></p>
    </div>
    <div class="w-8/12 py-4">
        <h1 class="text-2xl font-bold">Responder</h1>
        <form action="/suporte/responder/<%= pergunta.id %>" method="post">
            <textarea name="resposta" id="resposta" class="w-full rounded-e-lg rounded-s-lg border border-gray-500 bg-slate-400/30 p-3 text-gray-800 placeholder:text-gray-600"></textarea>

            <button type="submit" class="mt-4 rounded-lg bg-red-800 px-4 py-2 w-50 text-white mx-auto hover:bg-red-900 cursor-pointer">Enviar resposta</button>
        </form>
    </div>
    <div class="w-8/12 py-4">
        <h1 class="text-2xl font-bold">Respostas</h1>
        <% if(respostas.length == 0){ %>
            <b>Esta pergunta não tem nenhuma resposta</b>
        <% } %>

        <% respostas.forEach(e => { %>
            <div class="border-2 border-black p-5 mb-5">
                <p><%= e.resposta %></p>
                <div class="text-end">- por: <b><%= e.usuario.nome %></b></div>
            </div>
        <% }) %>
    </div>
</div>

<%- include('partials/footer.ejs') %>